.app-card {
  box-shadow: 0 4px 5px 3px rgba(177, 234, 177, 0.5);
  opacity: 0.9;
  transition: all 0.5s, ease 0s;
  height: 100%;
  color: #ffffff;
  background-color: rgb(2, 44, 44, 0.8);
  /* position: relative; */
}
.btn-primary {
  color: #5a5454;
  background-color: #90ee90;
  border-color: #cff2cf;
  width: 100%;
}
.btn-primary:hover {
  color: #4e5751;
  background-color: #48e6e6;
  border-color: #a9ebeb;
  outline: #a9ebeb;
  box-shadow: #a9ebeb;
}
.title {
  color: #90ee90;
}
.cardimgapp {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.bottom-buttons {
  /* position: absolute;
  bottom: 3%; */
  /* margin-bottom: 0.6rem; */
  /* height: 40%; */
  /* position: absolute; */
  /* bottom: 2%; */
  /* transform: translate(0%, 30%); */
}
.description {
  /* height: 60%; */
  /* height: 15rem; */
  margin: 0.5rem;
  /* margin-bottom: 40%; */
  overflow: scroll;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  .project-buttons {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .bottom-buttons {
    position: relative;
    bottom: 0;
  }
  .description {
    /* margin-bottom: 5%; */
  }
}
