/* .top-home {
  position: relative;
  z-index: -2;
  padding: 2em 0 !important;
  background-image: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    ),
    url(../../Assets//home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
} */
.dashboard-body {
  padding: 9rem 0 2rem !important ;
  color: #ffffff;
  text-align: left;
}
.dashboard-top {
  padding-top: 6em;
}
.typewriter {
  padding: 50;
  text-align: left;
}
.home-img {
  max-height: 28rem;
  /* margin: 10rem; */
}

.dashboard-profile {
  color: #ffffff;
  padding: 100px 0 20px;
  text-align: center;
}
.dashboard-profile-body {
  padding-top: 50px;
  font-size: 1.2em;
  text-align: left;
}
.primary {
  color: mediumseagreen;
}
.personal {
  justify-content: center;
  align-items: center;
  padding-top: 9em;
  max-height: 400px;
  margin: 3em;
}
.contact-me {
  text-align: center;
  padding-top: 1.5em;
  color: #ffffff;
}
.contact-me-link {
  justify-content: center;
  /* padding-top: 1rem; */
}

.center-text {
  text-align: center;
}
.list-icon {
  margin: 0.5em 0 0.5em !important;
  padding: 0 !important;
  position: relative;
  padding-top: 1rem;
  justify-content: center;
}
.media-social {
  display: inline-block !important;
  padding: 0 1em;
}
.dashboard-icon {
  /* color: #ffffff; */
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.5s;
  font-size: 2em;
  color: #022c2c;
}
.dashboard-icon::before {
  /* color: #ffffff; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(177, 234, 177, 0.5);
}
.dashboard-icon:hover {
  transform: scale(1.1);
  box-shadow: rgba(177, 234, 177, 0.5);
  cursor: pointer;
  color: rgba(6, 76, 6, 0.9);
}
