.App {
  text-align: center;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Quicksand";
  src: url("/public/Quicksand-Light.woff") format("woff2"),
    url("/public/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* reset & common styles */
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  /* margin: 0;
  padding: 0; */
  color: white;
  font-family: "Quicksand";
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}
.btn-primary {
  color: #5a5454;
  background-color: #90ee90;
  border-color: #cff2cf;
}
.btn-primary:hover {
  color: #4e5751;
  background-color: #48e6e6;
  border-color: #a9ebeb;
  outline: #a9ebeb;
  box-shadow: #a9ebeb;
}
/* body {
  background: rgb(100, 0, 123);
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgba(62, 20, 86, 1) 100%
  );
  overflow: hidden;
} */
/* button {
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
} */
